{% extends "start.html" %}

{% block title %}Followers{% endblock %}

{% block mask %}{% endblock %}

{% block content %}

    <div class="container">
        {% if followers %}
            {% for key, val in followers.items() %}
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        {{ key }}
                        <span class="badge badge-primary badge-pill">{{ val|length  }}</span>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
