{% extends "start.html" %}

{% block title %}Followers{% endblock %}

{% block mask %}{% endblock %}

{% block content %}

    <div class="container">
        <h1>List of the second line followers of {{ user }}</h1>

        <h3>View as <a href="{{ url_for('json') }}">JSON data</a></h3>

        {% if followers %}
            {% for user in followers %}
                <ul class="list-group">
                    <li class="list-group-item justify-content-between">
                        <h5>{{ user['name'] }}</h5>
                        <span class="badge badge-primary badge-pill">{{ user['follows']  }}</span>
                    </li>
                </ul>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
