<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Start{% endblock %} - Twitter Followers</title>

    {% block css %}
    <!-- Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family='Fontdiner+Swanky'" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Bootstrap Material Design -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/mdb.min.css') }}">
    <!-- Your custom styles (optional) -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        html,
        body,
        .view {
            height: 100%;
        }

        .view {
            background: url("https://mdbootstrap.com/images/regular/city/img%20(17).jpg")no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .flex-center {
            color: #fff;
        }
        .container {
            padding-top: 5px;
        }

    </style>
    {% endblock %}
</head>


<body>
    <!--Navbar-->
    <nav class="navbar navbar-toggleable-md navbar-dark bg-primary scrolling-navbar">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapseEx2" aria-controls="collapseEx2" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                <strong style="font-family:'Fontdiner Swanky', cursive;;">TWITTER FOLLOWERS</strong>
            </a>
            <div class="collapse navbar-collapse" id="collapseEx2">
                <ul class="navbar-nav navbar-left mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://twitter-follo.readthedocs.io/en/latest/?badge=latest">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/mdyzma/twitter_follo">GitHub</a>
                    </li>
                </ul>
            <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ current_user.nickname }}</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </div>
                </li>
            {% endif %}
            </ul>
            </div>
        </div>
    </nav>
    <!--/.Navbar-->

      {% if messages %}
          {% for message in messages %}
              <div class="container">{{ message }}</div>
          {% endfor %}
      {% endif %}

    {% block mask %}
    <!--Mask-->
    <div class="view hm-black-strong">
        <!--Intro content-->
        <div class="full-bg-img flex-center">
            <ul>
                <li>
                    <h1 class="h1-responsive">Log in to your Twitter account</h1>
                </li>
                <li>
                    <p>See how big your network is !</p>
                </li>
                <li>
                    <a href="{{ url_for('login') }}"><button class="btn btn-primary btn-lg" type="submit" name="submit" value="submit"><i class="fa fa-twitter fa-fw fa-lg" aria-hidden="true"></i> Sign in!</button></a>
                </li>
            </ul>
        </div>
        <!--/Intro content-->
    </div>
    <!--/.Mask-->
    {% endblock %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

<!-- jQuery -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<!-- tether -->
<script type="text/javascript" src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/mdb.min.js') }}"></script>
</body>

</html>
